<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../contactLogo.png" alt="contact" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4"> Contact Apps </h1>
      <p class="lead";>Manage your Contact Here!</p>

    </div>
  </div>
</div>

<%- include('layouts/footer') %> 